.jimgMenu {
	position:relative;
	margin: 0px 0px 0px 50px;
	padding: 0px;
	width: 90%;
	height:100%;
	overflow: hidden;
    background: url('../images/inner.png') repeat scroll 0% 0% #222;
    color: #FFF;
    padding: 2em;
}
.jimgMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 200px;
	position: relative;
	}	
.jimgMenu ul li {
	width: 100px;
	float: left;
	display: block;
	overflow: hidden;
}
.jimgMenu ul li a {
	text-indent: -1000px;
	background:#000 repeat scroll 0%;
    border: 1px solid #000;
	border-right: 2px solid #000;
    border-radius: 10px;
	cursor:pointer;
	display:block;
	overflow: hidden;
	height: 200px;
}
.jimgMenu ul li#spices a {
	background: url(../images/spices.jpg) repeat scroll 0%; 
    color: #FFF;
}
.jimgMenu ul li#kakao a {
	background: url(../images/kakao.jpg) repeat scroll 0%;
}

.jimgMenu ul li#tea a {
	background: url(../images/tea.jpg) repeat scroll 0%; 
}
.jimgMenu ul li#medical a {
	background: url(../images/medicine.png) repeat scroll 0%;
}
.jimgMenu ul li#wild a {
	background: url(../images/wild.jpg) repeat scroll 0%;
}
.jimgMenu ul li#herbs a {
	background: url(../images/herbs.jpg) repeat scroll 0%;
	border-right-style: none;
}